*{
    margin: 0;
}
#navSection{
    display: flex;
}
nav ul li{
    display: inline;
    padding: 8px;
}
#actionButton{
    background: none;
    padding: 10px 15px 10px 15px;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    border-color: white;
}
header img{
    width: 100%;
    height: 500px;
}
section header nav{
    display: absolute;
}
#bedfordTitle{
    position: absolute;
    color: white;
    font-weight: 900;
    top: 0px;
    left: 20px;
    margin-top: 30px;
    font-size: 28px;
}
#foundationTitle{
    position: absolute;
    color: white;
    font-weight: 900;
    top: 0px;
    left: 20px;
    margin-top: 60px;
    font-size: 16px;
}

#navBar{
    position: absolute;
    color: white;
    font-weight: 700;
    top: 10px;
    right: 10px;
    margin-top: 30px;
}
#title{
    position: absolute;
    top: 30%;
    right: 35%;
    color: white;
    text-align: center;
}
#title strong{
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#learnMoreButton{
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #5aafac;
    font-weight: 500;
}
#title i{
    font-size: 20px;
}
#content{
    margin-top: 40px;
    text-align: center;
}
#content h1{
    font-size: 28px;
}
.color1{
    color: #5aafac;
}

#content2{
    text-align: center;
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
    gap: 3vw;
}

#content2 img{
    width: 400px;
    height: 200px;
}

#learnButton, #findOutButton{
    background: none;
    border: none;
    color: #5aafac;
    font-weight: 500;
}

#footerIcon{
    padding: 20px;
    background-color: #333333;
}
#footerContent{
    text-align: center;
    background-color: #1f1f1f;
    color: #b6b6b6;
    padding: 30px;
    font-size: 16px;
}

.fa-twitter, .fa-instagram, .fa-pinterest, .fa-youtube{
    background: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

#grayColor{
    color: gray;
}
footer{
    text-align: center;
}